[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
seaborn = "*"
matplotlib = "*"
jupyterlab = "*"
ipywidgets = ">=7.5"
nodejs = "*"
npm = "*"
fastapi = "*"
uvicorn = "*"

[requires]
python_version = "3.8"
